#cursor {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: normal;
}

.testimonial-section:hover #cursor {
    opacity: 1;
}

.section-2:hover #cursor {
    opacity: 0;
}
/* .full-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 420px;
    margin-top: -210px;
    margin-left: -210px;
    background-color: #ECF3FE;
    border: 1px solid #f6faff;
    border-radius: 50%;
    pointer-events: none;
    animation: rotate 60s linear infinite;
    z-index: 1;
} */

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        /* width: 64px;
    height: 64px; */
        width: 200px;
        height: 200px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        background-color: #ECF3FE;
        border-color: #ECF3FE;
        /* border: solid 1px rgba(227, 222, 193, 0.64); */
        transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 200px;
        height: 200px;
        background-color: #ECF3FE;
        border-color: #ECF3FE;
    }

    #cursor.arrow::after {
        content: "";
        position: absolute;
        left: -50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-image: url("https://svgshare.com/i/MzQ.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    #cursor.subtle .cursor__circle {
        opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
        width: 48px;
        height: 48px;
        background-color: rgba(227, 222, 193, 0.08);
        border-color: transparent;
    }
}

.fill-hover-red{
	fill: #2F73F2;
}

.fill-hover-red:hover , .fill-red{
	fill: red;
}